* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  background-image: url("../img/back.jpg");
  background-repeat: repeat;
  font-family: "Zilla Slab", serif;
}
.container {
  background-color: #f1f5f8;
  padding: 50px;
  border-radius: 10px;
}
h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #ff6a23;
}
.menu {
  margin-top: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.btn-item {
  font-family: "Calibri", cursive;
  margin-left: 15px;
  font-size: 28px;
}

.photo {
  height: 175px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px dashed #aaaaaa;
}
.menu-items {
  display: flex;
  margin: 20px 0;
}
.menu-info {
  margin-left: 20px;
  width: 100%;
}
.menu-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #dbdbdb;
}

.active {
  color: #c15b4b;
  border-bottom: 1px dashed #aaaaaa;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn:hover {
  color: #ff6a23;
}

h4 {
  color: #c15b4b;
}
.img-thumbnail {
  padding: 0.15rem;
}
.menu-text {
  padding-top: 20px;
}
